---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b py-8 border-base-200"
    >
      <div>
        <Text tag="h1" variant="textSM" class="font-medium text-base-900"
          >Michael Andreuzza</Text
        >
        <Text tag="p" variant="textXS" class="text-sm text-base-600"
          >Product Designer in Åland Islands</Text
        >
      </div>
      <Text tag="p" variant="textSM" class="text-base-600 lg:col-span-2">
        I’m a self-taught front-end developer and UI designer with a strong
        passion for building my own projects. My philosophy revolves around
        simplicity and practicality, focusing on straightforward principles that
        deliver results. I value sticking to a clear plan and executing it
        reliably, with consistency being the foundation that keeps everything on
        track.
      </Text>
    </div>
  </Wrapper>
</section>
